pipelines/pl_cost_optimization.json
{
  "name": "pl_cost_optimization",
  "properties": {
    "description": "Automated cost optimization: capacity scheduling, storage cleanup (Fabric-compatible)",
    "activities": [
      {
        "name": "Run Cost Optimization Script",
        "type": "Notebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.02:00:00",
          "retry": 1,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "notebook": {
            "referenceName": "nb_cost_optimization",
            "type": "NotebookReference"
          },
          "parameters": {
            "action": {
              "value": "optimize_all",
              "type": "String"
            },
            "control_sql_endpoint": {
              "value": "@pipeline().parameters.control_sql_endpoint",
              "type": "Expression"
            },
            "control_database_name": {
              "value": "@pipeline().parameters.control_database_name",
              "type": "Expression"
            },
            "key_vault_url": {
              "value": "@pipeline().parameters.key_vault_url",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Log Cost Optimization",
        "type": "Notebook",
        "dependsOn": [
          {
            "activity": "Run Cost Optimization Script",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 2
        },
        "typeProperties": {
          "notebook": {
            "referenceName": "nb_sql_execute",
            "type": "NotebookReference"
          },
          "parameters": {
            "control_sql_endpoint": {
              "value": "@pipeline().parameters.control_sql_endpoint",
              "type": "Expression"
            },
            "control_database_name": {
              "value": "@pipeline().parameters.control_database_name",
              "type": "Expression"
            },
            "stored_procedure_name": {
              "value": "[audit].[usp_LogPipelineEnd]",
              "type": "String"
            },
            "stored_procedure_params_json": {
              "value": "@{json(concat('{', '\"RunId\":\"', guid(), '\",\"Status\":\"', if(equals(activity('Run Cost Optimization Script').status, 'Succeeded'), 'SUCCEEDED', 'FAILED'), '\",\"ErrorMessage\":\"', if(equals(activity('Run Cost Optimization Script').status, 'Succeeded'), '', coalesce(activity('Run Cost Optimization Script').error.message, '')), '\",\"RowsRead\":', coalesce(string(activity('Run Cost Optimization Script').output.runOutput), '0'), ',\"RowsWritten\":', coalesce(string(activity('Run Cost Optimization Script').output.runOutput), '0'), '}'))}",
              "type": "Expression"
            },
            "key_vault_url": {
              "value": "@pipeline().parameters.key_vault_url",
              "type": "Expression"
            }
          }
        }
      }
    ],
    "parameters": {
      "control_sql_endpoint": {
        "type": "String",
        "defaultValue": "<workspace>.sql.azuresynapse.net"
      },
      "control_database_name": {
        "type": "String",
        "defaultValue": "fabric_control"
      },
      "key_vault_url": {
        "type": "String",
        "defaultValue": "https://<vault>.vault.azure.net/"
      }
    },
    "variables": {},
    "annotations": [],
    "lastPublishTime": "2026-06-21T00:00:00Z"
  }
}
