pipelines/pl_gold_orchestrator.json
{
  "name": "pl_gold_orchestrator",
  "properties": {
    "description": "Dedicated pipeline for Gold layer curation with dependency management (Fabric-compatible)",
    "activities": [
      {
        "name": "Lookup Gold Models",
        "type": "Notebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.05:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "notebook": {
            "referenceName": "nb_sql_lookup",
            "type": "NotebookReference"
          },
          "parameters": {
            "control_sql_endpoint": {
              "value": "@pipeline().parameters.control_sql_endpoint",
              "type": "Expression"
            },
            "control_database_name": {
              "value": "@pipeline().parameters.control_database_name",
              "type": "Expression"
            },
            "query": {
              "value": "EXEC cfg.usp_GetGoldModelsToProcess @ModelId=NULL",
              "type": "String"
            },
            "key_vault_url": {
              "value": "@pipeline().parameters.key_vault_url",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "ForEach Gold Model",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup Gold Models",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Gold Models').output.runOutput",
            "type": "Expression"
          },
          "isSequential": true
        },
        "activities": [
          {
            "name": "Gold Model Curation",
            "type": "Notebook",
            "dependsOn": [],
            "policy": {
              "timeout": "0.02:00:00",
              "retry": 2,
              "retryIntervalInSeconds": 60
            },
            "typeProperties": {
              "notebook": {
                "referenceName": "nb_gold_curate",
                "type": "NotebookReference"
              },
              "parameters": {
                "model_name": {
                  "value": "@item().ModelName",
                  "type": "Expression"
                },
                "target_warehouse": {
                  "value": "@item().TargetWarehouse",
                  "type": "Expression"
                },
                "target_schema": {
                  "value": "@item().TargetSchema",
                  "type": "Expression"
                },
                "run_id": {
                  "value": "@pipeline().RunId",
                  "type": "Expression"
                },
                "control_sql_endpoint": {
                  "value": "@pipeline().parameters.control_sql_endpoint",
                  "type": "Expression"
                },
                "control_database_name": {
                  "value": "@pipeline().parameters.control_database_name",
                  "type": "Expression"
                },
                "key_vault_url": {
                  "value": "@pipeline().parameters.key_vault_url",
                  "type": "Expression"
                }
              }
            }
          },
          {
            "name": "Log Gold Model Run",
            "type": "Notebook",
            "dependsOn": [
              {
                "activity": "Gold Model Curation",
                "dependencyConditions": [
                  "Completed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:02:00",
              "retry": 2
            },
            "typeProperties": {
              "notebook": {
                "referenceName": "nb_sql_execute",
                "type": "NotebookReference"
              },
              "parameters": {
                "control_sql_endpoint": {
                  "value": "@pipeline().parameters.control_sql_endpoint",
                  "type": "Expression"
                },
                "control_database_name": {
                  "value": "@pipeline().parameters.control_database_name",
                  "type": "Expression"
                },
                "stored_procedure_name": {
                  "value": "[audit].[usp_LogGoldModelEnd]",
                  "type": "String"
                },
                "stored_procedure_params_json": {
                  "value": "@{json(concat('{', '\"GoldRunId\":\"', guid(), '\",\"Status\":\"', if(equals(activity('Gold Model Curation').status, 'Succeeded'), 'SUCCEEDED', 'FAILED'), '\",\"ErrorMessage\":\"', if(equals(activity('Gold Model Curation').status, 'Succeeded'), '', activity('Gold Model Curation').error.message), '\"}'))}",
                  "type": "Expression"
                },
                "key_vault_url": {
                  "value": "@pipeline().parameters.key_vault_url",
                  "type": "Expression"
                }
              }
            }
          }
        ]
      }
    ],
    "parameters": {
      "control_sql_endpoint": {
        "type": "String",
        "defaultValue": "<workspace>.sql.azuresynapse.net"
      },
      "control_database_name": {
        "type": "String",
        "defaultValue": "fabric_control"
      },
      "key_vault_url": {
        "type": "String",
        "defaultValue": "https://<vault>.vault.azure.net/"
      }
    },
    "variables": {},
    "annotations": [],
    "lastPublishTime": "2026-06-21T00:00:00Z"
  }
}
