pipelines/pl_schema_drift.json
{
  "name": "pl_schema_drift_detection",
  "properties": {
    "description": "Pre-ingestion schema drift detection for all entities (Fabric-compatible)",
    "activities": [
      {
        "name": "Lookup Entities",
        "type": "Notebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.10:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "notebook": {
            "referenceName": "nb_sql_lookup",
            "type": "NotebookReference"
          },
          "parameters": {
            "control_sql_endpoint": {
              "value": "@pipeline().parameters.control_sql_endpoint",
              "type": "Expression"
            },
            "control_database_name": {
              "value": "@pipeline().parameters.control_database_name",
              "type": "Expression"
            },
            "query": {
              "value": "SELECT EntityId, EntityName, TargetLakehouse, TargetSchema, TargetTableName FROM cfg.Entities WHERE IsActive = 1",
              "type": "String"
            },
            "key_vault_url": {
              "value": "@pipeline().parameters.key_vault_url",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "ForEach Entity Drift Check",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup Entities",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Entities').output.runOutput",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Detect Schema Drift",
              "type": "Notebook",
              "typeProperties": {
                "notebook": {
                  "referenceName": "nb_schema_drift_detection",
                  "type": "NotebookReference"
                },
                "parameters": {
                  "entity_id": {
                    "value": "@item().EntityId",
                    "type": "Expression"
                  },
                  "source_lakehouse": {
                    "value": "@item().TargetLakehouse",
                    "type": "Expression"
                  },
                  "source_schema": {
                    "value": "@item().TargetSchema",
                    "type": "Expression"
                  },
                  "source_table": {
                    "value": "@item().TargetTableName",
                    "type": "Expression"
                  },
                  "drift_strategy": {
                    "value": "alert",
                    "type": "String"
                  },
                  "control_sql_endpoint": {
                    "value": "@pipeline().parameters.control_sql_endpoint",
                    "type": "Expression"
                  },
                  "control_database_name": {
                    "value": "@pipeline().parameters.control_database_name",
                    "type": "Expression"
                  },
                  "key_vault_url": {
                    "value": "@pipeline().parameters.key_vault_url",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "control_sql_endpoint": {
        "type": "String",
        "defaultValue": "<workspace>.sql.azuresynapse.net"
      },
      "control_database_name": {
        "type": "String",
        "defaultValue": "fabric_control"
      },
      "key_vault_url": {
        "type": "String",
        "defaultValue": "https://<vault>.vault.azure.net/"
      }
    },
    "variables": {},
    "annotations": [],
    "lastPublishTime": "2026-06-21T00:00:00Z"
  }
}
